
    <section class="parentDiv">
        {{#each data}}
        <div class="grid-cols-auto flex flex-wrap justify-center justify-around">
        <div class="pb-5 pt-5 flip-card-container">
          <div class="flip-card">
            <div class="max-w-sm rounded overflow-hidden shadow-lg flip-card-front">
                <!-- <img class="w-full" src="../images/pitch.catch.png" alt="Sunset in the mountains"> -->
                <img class="w-full" src="{{newPlayers.PhotoUrl}}">
                <div class="px-6 py-4 flip-card-front">
                    <div class="font-bold text-xl mb-2">{{newPlayers.FirstName}} {{newPlayers.LastName}}</div>
                        <p>MLB Teams: {{Team}}</p>
                        <p>Bats: {{BatHand}}   Throws: {{ThrowHand}}</p>
                        <p>Position: {{Position}}</p>
                    </div>
                    <div class="px-6 pt-4 pb-2">
                        <span
                            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
                        <span
                            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
                        <span
                            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
                    </div>
                </div>
            </div>
          </div>
        </div>
        {{/each}}
    </section>
